
*{
		margin:0;
		padding-left:0;
		outline:none;
		border:0;
}

div.main{
	border:1px solid black;
	width:380px;
	overflow:hidden;
}

div.left{
	width:100px;
	float:left;
}

img.image{
	width:104px;
}

div.right{
	margin-left:4px;
	float:left;
}

@media only screen and (max-device-width:700px){
	*{
			margin:0;
			padding:0;
			outline:none;
			border:0;
	}

	div.main{
		border:1px solid black;
		width:100%;
		overflow:hidden;
	}

	div.left{
		width:100px;
		float:left;
	}

	img.image{
		width:104px;
	}

	div.right{
		margin-left:4px;
		float:left;
	}
}
