
*{
		margin:0;
		padding-left:0;
		outline:none;
		border:0;
}

body{
	padding-left:34%;
}

div.main{
	border:1px solid black;
	width:45%;
	overflow:hidden;
}

div.left{
	width:28%;
	float:left;
}

img.image{
	width:100%;
}

div.right{
	float:left;
}
