
*{
		margin:0;
		padding:0;
		outline:none;
		border:0;
}

body{
	padding-left:0%;
	padding-right:0%;
}

div.top_menu{
		background-color:darkgray; 
		width:100%;
		overflow:hidden;
		margin-bottom:0;
}

div.profile{
		float:left;
}

div.info{
		margin:1%;
		float:left;
}

ul.menu_bar{
		list-style-type:none;
		margin:0;
		height:100%;
		padding-left:0;
		padding-right:0;
		padding-top:0;
		padding-bottom:0;
		background-color:#333;
}

ul.menu_bar li{
		
}

ul.menu_bar li a{
		display:inline-block;
		color:#f2f2f2;
		text-align:center;
		padding:7% 9%;
		text-decoration:none;
		transition:0.3s;
		font-size:17px;
}

ul.menu_bar li a:hover{
		background-color:#555;
		width:100%;
}

div.main{
		width:100%;
		height:100%;
		margin-left:0;
		float:left;

}

div.left_menu{
		background-color:#333; 
		width:25%;
		height:100%;
		margin-left:0;
		float:left;
}
div.data{
		padding-left:8%;
		padding-right:10%;
		padding-bottom:10%;
		padding-top:8%;
}

div.content{
		background-color:lightgray; 
		width:75%;
		height:100%;
		float:right;
		font-size:17px;
		margin-top:0;
}

div.lang{
		float:left;
}

div.soft{
		float:left;
		margin-left:200px;
}

div.database{
		float:left;
		margin-top:5%;
}

div.os{
		float:left;
		margin-top:5%;
		margin-left:340px
}

@media only screen and (max-device-width:700px){
		
		*{
				margin:0;
				padding:0;
				outline:none;
				border:0;
		}

		body{
			padding:0px;
		}

		div.top_menu{
				background-color:darkgray; 
				width:100%;
				overflow:hidden;
				margin-bottom:0;
		}

		div.profile{
				float:left;
		}

		div.info{
				margin:1%;
				float:left;
		}

		ul.menu_bar{
				list-style-type:none;
				margin:0;
				overflow:hidden;
				padding-left:0;
				padding-right:0;
				padding-top:0;
				padding-bottom:0;
				background-color:#333;
		}

		ul.menu_bar li{
				float:left;
		}

		ul.menu_bar li a{
				display:block;
				color:#f2f2f2;
				text-align:center;
				padding:8px;
				text-decoration:none;
				transition:0.3s;
				font-size:17px;
		}

		ul.menu_bar li a:hover{
				background-color:#555;
				width:100%;
		}

		div.main{
				width:100%;
				height:100%;
				margin-left:0;
				float:none;

		}

		div.left_menu{
				background-color:#333; 
				width:100%;
				overflow:hidden;
				margin-left:0;
				float:none;
		}
		div.data{
				padding-left:8%;
				padding-right:10%;
				padding-bottom:10%;
				padding-top:8%;
		}

		div.content{
				background-color:lightgray; 
				width:100%;
				height:100%;
				float:none;
				font-size:17px;
				margin-top:0;
		}
		
		div.lang{
				float:none;
		}

		div.soft{
				float:none;
				margin-left:0px;
				margin-top:3%;
		}

		div.database{
				float:none;
				margin-top:3%;
		}

		div.os{
				float:none;
				margin-top:3%;
				margin-left:0px
		}

}
