
*{
		margin:0;
		padding:0;
		outline:none;
		border:0;
}

body{
	padding-left:auto;
	padding-right:auto;
}

div.top_menu{
		background-color:darkgray; 
		width:100%;
		overflow:hidden;
		margin-bottom:0;
}

div.profile{
		float:left;
}

div.info{
		margin:1%;
		float:left;
}

ul.menu_bar{
		list-style-type:none;
		margin:0;
		padding-left:0;
		padding-right:0;
		padding-top:0;
		padding-bottom:0;
		background-color:#333;
}

ul.menu_bar li{
		
}

ul.menu_bar li a{
		display:inline-block;
		color:#f2f2f2;
		text-align:center;
		padding:7% 9%;
		text-decoration:none;
		transition:0.3s;
		font-size:17px;
}

ul.menu_bar li a:hover{
		background-color:#555;
		width:100%;
}

div.main{
		width:100%;
		height:100%;
		margin-left:0;
		float:left;
}

div.left_menu{
		background-color:#333; 
		width:25%;
		height:100%;
		margin-left:0;
		float:left;
}
div.data{
		padding-left:8%;
		padding-right:10%;
		padding-bottom:10%;
		padding-top:8%;
}

div.content{
		background-color:lightgray; 
		width:75%;
		height:100%;
		float:left;
		font-size:17px;
		margin-top:0;
}
