
*{
		margin:0;
		padding-left:0;
		outline:none;
		border:0;
}

div.main{
	border:1px solid black;
	width:28%;
	overflow:hidden;
}

div.left{
	width:28%;
	float:left;
}

img.image{
	width:100%;
}

div.right{
	float:left;
}

@media only screen and (max-device-width:700px){
	
	div.main{
		border:1px solid black;
		width:100%;
		overflow:hidden;
	}
	div.left{
		width:25%;
		float:left;
	}
	div.right{
		float:left;
		width:50%;
	}
}
