
table.qual{
	border-collapse:collapse;
}

td.a{
	border:1px solid black;
	padding:10px;
	text-align:left;
}

th.b{
	border:1px solid black;
	padding:10px;
	text-align:left;
}

@media only screen and (max-device-width:700px){
		
		table.qual{
			border-collapse:collapse;
		}

		td.a{
			border:0.5px solid black;
			padding:1%;
			text-align:left;
		}

		th.b{
			border:0.5px solid black;
			padding-left:0%;
			padding-right:2%;
			text-align:center;
		}
}
